*
{
    padding: 0;
    margin: 0;
}
body
{
     background-image: url(image/banner.jpg);
      background-repeat: 90%;

background-size: cover;
    background-position: center;*/
    box-sizing: 80%;
    font-family: unset;

}
nav{
    margin: 0;
    background: gray;
}
nav{
    background: #594848;
    width: 100%;
    overflow: auto;
}
ul{
    margin: 0;
    padding:0;
    list-style: none;
}
li{
    float: left;    
}
nav a{
    width: 120px;
    display:block;
    text-decoration: none;
    text-align: center; 
    background: #594848;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
    font-family: Arial;
}
nav a:hover{
    background: skyblue;
    color: black;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }  